import(data.table)
import(tidyr)
import(plyr)
import(org.Hs.eg.db)
import(clusterProfiler)
import(graph)
import(igraph)
import(RandomWalkRestartMH)
import(visNetwork)

import(shiny)
import(shinyjs)
import(shinydashboard)
import(shinycssloaders)
import(DT)
import(dplyr)


exportPattern("^[[:alpha:]]+")
export(predictFC)
export(omics_predict)
export(outnet)
export(plotvisnet)
export(dkgGUI)
